# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_*

node_modules
*.swp
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

storybook-static
*storybook.log

packages/**/tsbuildcache
packages/**/tsconfig.tsbuildinfo
.vercel
.env.*
coverage
stats.json
.firebase
tsbuildcache
tsconfig.tsbuildinfo
**/custom-shots/**
test-results/
playwright-report/
playwright/.cache/