.DS_*

node_modules
*.swp
dist
storybook-static
.vercel
.env.*
coverage
stats.json
.firebase
.pnpm-store
.npmrc
tsbuildcache
tsconfig.tsbuildinfo
**/custom-shots/**
test-results/
playwright-report/
playwright/.cache/
/.idea/
