@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
  outline: none;

  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

  color: #2b2d31;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.token.plain-text,
.language-jsx span {
  color: white;
}
