@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
  outline: none;

  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 1rem;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: rgba(43, 45, 49, 1);

  &.is-fullscreen {
    & .bar-line-complex-chart-wrapper {
      z-index: 21;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#root {
  height: 100vh;
  width: 100%;
}

input.form-control,
div.rbt-input-multi {
  border-radius: 12px;
}

.rbt-input-multi.focus {
  box-shadow: none;
  border-color: unset;
}
